<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>transfer.sh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/d4845602.main.css">

    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:100,200,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro:300" rel="stylesheet" type="text/css">

    <script src="/scripts/vendor/d7100892.modernizr.js"></script>
</head>



<div id="navigation">
    <div class="wrapper">
        <h1>transfer.sh</h1>
        <ul>
            <li><a href="#how-it-works">how to use</a>
            </li>
            <li><a href="#contact">contact us</a>
            </li>
        </ul>
    </div>
</div>
<a href="https://github.com/you">
    <img style="position: absolute; top: 0; right: 0; border: 0" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
</a>
<section id="home">
    <div class="wrapper">
        <h2>
          Upload and share your files
      </h2>

        <div class="row">
            <div id="from-terminal" class="box">
                <h3>From terminal</h3>
                <div id="terminal">
                    <p style="white-space:pre"></p>
                </div>
            </div>
            <div id="from-web" class="">
                <h3>From web</h3>

                <form action="/file-upload" class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple="multiple">
                    </div>
                </form>

            </div>
        </div>
        <a href="#how-it-works" class="btn-cta">learn more </a>
    </div>
</section>

<section id="features">
    <div class="wrapper">
        <div class="row">
            <div class="col-md-3 col-xs-3">
                <i class="fa fa-leaf"></i>
                <h3>For Free</h3>
                <p></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <i class="fa fa-leaf"></i>
                <h3>A headline</h3>
                <p></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <i class="fa fa-leaf"></i>
                <h3>A headline</h3>
                <p></p>
            </div>
            <div class="col-md-3 col-xs-3">
                <i class="fa fa-leaf"></i>
                <h3>A headline</h3>
                <p></p>
            </div>
        </div>
    </div>
</section>

<section id="how-it-works">
    <div class="wrapper">
        <h2>How it works?</h2>
        <div class="row">
            <div class="col-md-6">
            </div>
            <div class="col-md-6">

                <h3></h3>
                <p></p>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-6">

                <h3></h3>
                <p></p>
            </div>
        </div>
    </div>
</section>

<section id="why-use-it">
    <div class="wrapper">
        <h2>
          Why use it?
        </h2>
        <div class="row">
            <div class="col-md-6">Terminal</div>
            <div class="col-md-6">Web</div>
        </div>
    </div>
</section>

<section id="share">
    <div class="wrapper">
        <h2>
          Share the love
      </h2>

        <ul>
            <li>
                <i class="fa fa-twitter"></i>
            </li>
            <li>
                <i class="fa fa-facebook"></i> 
            </li>
            <li>
                <i class="fa fa-google-plus"></i> 
            </li>
            <li>
                <i class="fa fa-linkedin"></i>
            </li>
        </ul>
    </div>
</section>

<section id="contact">
    <div class="wrapper">
        <i class="fa-envelope fa"></i>
        <h2>
          Any questions?
      </h2>
        <a href="#" class="btn-cta">contact us</a>
    </div>
</section>

<footer>
    <p>Made with <i class="fa fa-heart"></i> by <a href="#">Dutch Coders</a>
    </p>
</footer>

<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function (b, o, i, l, e, r) {
        b.GoogleAnalyticsObject = l;
        b[l] || (b[l] =
            function () {
                (b[l].q = b[l].q || []).push(arguments)
            });
        b[l].l = +new Date;
        e = o.createElement(i);
        r = o.getElementsByTagName(i)[0];
        e.src = '//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e, r)
    }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<script src="/scripts/9d4218ba.main.js"></script>

<script src="/scripts/vendor/c6b52431.bootstrap.js"></script>

</html>
