files:
  "/etc/nginx/conf.d/client_max_body_size.conf":
    mode: "000644"
    owner: root
    group: root
    content: "client_max_body_size 0;"
  "/etc/nginx/conf.d/proxy_request_buffering.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        proxy_request_buffering off;
        client_body_buffer_size 1024k;
        client_body_timeout     240;
        proxy_buffering    off;
        ignore_invalid_headers off;
