files:
  "/etc/sysctl.d/01-tcp-tuning.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
        net.ipv4.tcp_wmem = 4096 16384 512000
        net.ipv4.tcp_rmem = 4096 87380 512000
        net.ipv4.tcp_window_scaling = 0
        net.ipv4.tcp_timestamps = 0
commands:
    "load_tuning":
        command: sysctl -p /etc/sysctl.d/01-tcp-tuning.conf
