#home {
    text-align: center;
    h2 {
        font-size: 40px;
    }
    @media (min-width: @screen-sm-min) {
        padding: 50px;
        h2 {
            font-size: 45px;
            margin-top: -10px;
            margin-bottom: 45px;
        }
    }
    .btn-home {
        margin: 50px 0 25px 0;
    }
}


#web, .terminal {
    word-wrap: break-word;
    .code-title {
        color: @red;
    }
    padding: 30px 0 0 10px;
    @media (min-width: @screen-sm-min) {
        padding: 30px 0 0 20px;
    }
    code {
        font-family: @font-family-mono;
    }
    font-family: @font-family-mono;
    font-size: 15px;
    text-align: left;
    color: #fff;
}


#web {
    margin-top: -2px;
  .border-bottom-radius (5px);
    padding-top: 0;
    padding-bottom: 50px;
    width: 100%;
    display: block;
    background: @dark-blue;
    .transition(all @animation-duration ease);
    .btn-cta {
        padding: 5px 10px;
        font-size: 14px;
        border-color: #fff;
    }
    .queue {
        margin: 0;
        list-style: none;
        padding: 0;
    }
    a {
        color: #fff;
    }
}

.terminal {
     .border-top-radius (0);
    background: @dark-blue;
 //   background: url(../images/terminal.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.terminal-top {
    .border-top-radius (5px);
    background: url(../images/terminal-top.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30px;
}



.upload-progress {
    max-width: 80%;
 .bar {
    word-wrap: normal;
    overflow: hidden;
 }
 span {
    float: right;
 }
}
.all-files {
    display: none;
}
.all-files .show {
    display: block;
}
