#reviews {
    background: @light-gray;
    padding: 130px 0;
    .twitter-profile {
        float: left;
        display: block;
        height: 90px;
        border-radius: 10px;
        margin: 3px 15px auto 20px;
    }

}

blockquote.twitter-tweet {
  display: inline-block;
  font-size: 15px;
  line-height: 20px;
  margin: 10px 5px;
  padding: 0 16px 16px 16px;
  text-align: right;
  border: 0;
  img {
    margin: 0 auto;
  }
    @media (max-width: @screen-xs) {
    .twitter-profile {
        display:none!important;
      }
  }
}

blockquote.twitter-tweet p {
  font-size: 17px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
}
 
blockquote.twitter-tweet a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  outline: 0 none;
}
 
blockquote.tweet-xl {
   p {
       font-size: 22px;
       line-height: 25px;
   }
   a {
       font-size: 22px;
   }
   @media (max-width: @screen-xs) {
       p {
           font-size: 17px;}
       a {
           font-size: 17px;
       }
   }
}
