#!/bin/bash

export BUCKET={bucket}
export AWS_ACCESS_KEY={access_key}
export AWS_SECRET_KEY={secret_key}
export VIRUSTOTAL_KEY={virustotal_key}
export PATH=$PATH:/usr/local/go/bin
export GOPATH=../go/

exec go run *.go
